body{

    background-color: white;
   
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 800;
    font-size: 2rem;
    color: black;

}
            
            .row {
                margin-left: 28px;
                padding: 16px;
            }
            .scanarea {
                max-width: 350px;
                height: 100px;
            }
            video {
                transform: scale(-1, 1); /*For Firefox (& IE) */
                -webkit-transform: scale(-1, 1); /*for Chrome & Opera (& Safari) */
            }
            table th.hidden {
                display: none;
                border: none;
                visibility: hidden;
            }
        
            
            .btn .btn-link .btn-md {
                box-shadow: 0px 0px 0px 2px #9fb4f2;
                background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
                background-color:#7892c2;
                border-radius:10px;
                border:1px solid #4e6096;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-family:Arial;
                font-size:19px;
                padding:12px 37px;
                text-decoration:none;
                text-shadow:0px 1px 0px #283966;
            }
            .btn .btn-link .btn-md :hover {
                background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
                background-color:#476e9e;
            }
            .btn .btn-link .btn-md :active {
                position:relative;
                top:1px;
            }