body{

    background-color: white;
   
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 800;
    font-size: 2rem;
    color: black;

}
            
            .row {
                margin-left: 28px;
                padding: 16px;
            }
            .scanarea {
                max-width: 350px;
                height: 100px;
            }
            video {
                transform: scale(-1, 1); /*For Firefox (& IE) */
                -webkit-transform: scale(-1, 1); /*for Chrome & Opera (& Safari) */
            }
            table th.hidden {
                display: none;
                border: none;
                visibility: hidden;
            }
        